:root {
  --color-titulo: rgb(0, 152, 153);
  --color-titulo-white: rgb(253, 253, 253);
  --color-titulo-black: rgb(41, 41, 41);
  --background-principal: rgb(0, 152, 153);
  --background-secundario: #007575;
  --background-white: rgb(254, 254, 254);
  --background-boxes: rgb(242, 242, 242);
  --color-hover: rgb(90, 90, 90);
}

/*=======================================
    ARCHIVO HISTORICO STYLES
==================================================*/
.contenido-secundario {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.archivo-historico {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f54927;
  color: var(--color-titulo-white);
  padding: 20px;
}
.content-archivo {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.archivo-historico h2 {
  width: 15%;
  text-align: center;
  font-size: 0.9rem;
}
.archivo-historico p {
  font-size: 0.8rem;
  width: 20%;
  text-align: center;
}
.imagen-archivo img {
  height: 90px;
}
.logo-archivo {
  width: 20%;
}
.logo-archivo img {
  height: 70px;
}
.archivo-historico .content-btn {
  width: 20%;
}
.archivo-historico .btn-archivo {
  color: var(--color-titulo-white);
  text-decoration: none;
  background-color: var(--background-principal);
  padding: 6px 20px;
  border-radius: 40px;
  font-size: 0.9rem;
}
/*=======================================
  ARCHIVO HISTORICO STYLES
==================================================*/
@media screen and (min-width: 768px) and (max-width: 900px) {
  .imagen-archivo img {
    height: 70px;
  }
  .logo-archivo img {
    height: 50px;
  }
  .archivo-historico h2 {
    font-size: 0.8rem;
    width: 18%;
    text-align: center;
  }
  .archivo-historico p {
    font-size: 0.7rem;
    width: 25%;
  }
  .archivo-historico .btn-archivo {
    font-size: 0.6rem;
    padding: 6px 16px;
  }
}
@media screen and (max-width: 767px) {
  .archivo-historico {
    flex-flow: column nowrap;
    gap: 15px;
  }
  .logo-archivo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .archivo-historico .content-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-archivo {
    width: 100%;
    justify-content: space-evenly;
  }
  .imagen-archivo img {
    height: 70px;
  }
  .logo-archivo img {
    height: 50px;
  }
  .archivo-historico h2 {
    font-size: 0.8rem;
    width: 25%;
    text-align: center;
  }
  .archivo-historico p {
    font-size: 0.8rem;
    width: 25%;
  }
  .archivo-historico .btn-archivo {
    font-size: 0.7rem;
    padding: 10px 24px;
  }
}
