:root {
  --color-titulo: rgb(0, 152, 153);
  --color-titulo-white: rgb(253, 253, 253);
  --color-titulo-black: rgb(41, 41, 41);
  --background-principal: rgb(0, 152, 153);
  --background-secundario: #007575;
  --background-white: rgb(254, 254, 254);
  --background-boxes: rgb(242, 242, 242);
  --color-hover: rgb(90, 90, 90);
}
/*=======================================
    NOVEDADES STYLES
==================================================*/
.contenido-principal {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  margin: 30px 0px;
  background-color: #f3efe5;
}
.container-title-noticia {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  gap: 4px;
}
.container-title-noticia .content-titulo {
  padding: 10px;
}
.content-titulo h2 {
  font-size: 1rem;
  margin: 15px 0;
  color: #b46d12;
}
.content-titulo h3 {
  font-size: 1.7rem;
  margin: 15px 0;
}
.content-text-noticia {
  width: 30%;
  display: flex;
  align-items: center;
  padding: 13px;
}
#contenedor-noticia {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: #f5f5f4;
}

.tarjeta {
  border: 1px solid #d6d3d1;
  background-color: #fff;
  border-radius: 13px;
  width: 27%;
  display: flex;
  flex-flow: column nowrap;
  text-decoration: none;
  color: var(--color-hover);
  overflow: hidden;
}
.tarjeta small {
  padding: 13px;
  font-size: 0.7rem;
  font-weight: bold;
}
.tarjeta img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.tarjeta h3 {
  font-size: 1.2rem;
  padding: 12px;
}

/*=======================================
    LETRAS DEL VALLE STYLES
==================================================*/
.contenedor-letras {
  margin: 30px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.contenedor-letras h2 {
  width: 80%;
  text-align: center;
  padding: 10px;
  margin: 30px;
  color: var(--color-hover);
  font-size: clamp(1.7rem, 4vw, 2.5rem);
  font-weight: bold;
  border-bottom: 1px solid #d6d3d1;
}
.letras-del-valle {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 10px;
}
.card figure img {
  width: 250px;
  margin: 10px;
}
.contenedor-letras a {
  background-color: var(--background-secundario);
  padding: 8px 40px;
  color: var(--color-titulo-white);
  text-decoration: none;
  border-radius: 15px;
}
/*=======================================
    MOVIL STYLES
==================================================*/
@media screen and (max-width: 720px) {
  /**------- NOVEDADES -------nav*/
  .tarjeta {
    width: 80%;
    box-shadow: none;
  }
  .contenido-principal h2 {
    padding: 10px 0px;
    margin: 30px 0;
  }
  .content-text-noticia {
    width: 100%;
    justify-content: end;
    align-items: center;
    padding: 13px;
    margin-bottom: 13px;
  }
  .content-titulo h2 {
    font-size: 1rem;
    margin: 5px 0;
    color: #b46d12;
  }
  .content-titulo h3 {
    font-size: 1.7rem;
    margin: 5px 0;
  }
}
