:root {
  --color-titulo: rgb(0, 152, 153);
  --color-titulo-white: rgb(253, 253, 253);
  --color-titulo-black: rgb(41, 41, 41);
  --background-principal: rgb(0, 152, 153);
  --background-secundario: #007575;
  --background-white: rgb(254, 254, 254);
  --background-boxes: rgb(242, 242, 242);
  --color-hover: rgb(90, 90, 90);
}
/*=======================================
    GENERAL STYLES
==================================================*/
/**  titulos funciona para noticias y letras del valle */
.content-titulo h2 {
  font-size: 1rem;
  margin: 15px 0;
  color: #b46d12;
}
.content-titulo h3 {
  font-size: 1.7rem;
  margin: 15px 0;
}
.content-text {
  width: 30%;
  display: flex;
  align-items: center;
  padding: 13px;
}

/*=======================================
    NOVEDADES STYLES
==================================================*/
.contenido-principal {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  background-color: #fff;
}
.contenido-principal .container-title-noticia {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-flow: row wrap;
  gap: 4px;
  margin-bottom: 27px;
}
.container-title-noticia .content-titulo {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#contenedor-noticia {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 0px 0px 50px 0px;
}

.tarjeta {
  border: 1px solid #d6d3d1;
  background-color: #fff;
  border-radius: 13px;
  width: 27%;
  display: flex;
  flex-flow: column nowrap;
  text-decoration: none;
  color: var(--color-hover);
  overflow: hidden;
}
.tarjeta small {
  padding: 10px;
  font-size: 0.7rem;
  font-weight: bold;
}
.tarjeta img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.tarjeta h3 {
  font-size: 1.2rem;
  padding: 10px;
}
.btn-vermas {
  padding: 10px 18px;
  background-color: var(--background-secundario);
  color: var(--color-titulo-white);
  text-decoration: none;
  border-radius: 7px;
  margin: 30px 0px;
}

/*=======================================
    LETRAS DEL VALLE STYLES
==================================================*/
.contenedor-letras {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  background-color: #e6ffff;
}
.container-title-letras {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-flow: row wrap;
  gap: 4px;
  margin-bottom: 27px;
}
.letras-del-valle {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 10px;
}
.card {
  border: 1px solid #d6d3d1;
  background-color: #fff;
  border-radius: 13px;
  width: 270px;
  height: 500px;
  display: flex;
  flex-flow: column nowrap;
  text-decoration: none;
  color: var(--color-hover);
  overflow: hidden;
  margin: 10px;
}
.card figure img {
  width: 100%;
}
.card .card-content {
  width: 100%;
  padding: 12px;
}
.card-content h2 {
  padding: 5px;
}
.card-content p {
  padding: 5px;
}
.contenedor-letras a {
  background-color: var(--background-secundario);
  padding: 10px 40px;
  color: var(--color-titulo-white);
  text-decoration: none;
  border-radius: 7px;
  margin-bottom: 60px;
}
/*=======================================
    MOVIL STYLES
==================================================*/
@media screen and (max-width: 720px) {
  /**------- NOVEDADES -------nav*/
  .tarjeta {
    width: 95%;
  }
  .contenido-principal h2 {
    padding: 10px 0px;
    margin: 30px 0;
  }
  .content-text {
    width: 100%;
    padding: 0px;
    margin-bottom: 13px;
  }
  .content-titulo h2 {
    font-size: 1rem;
    margin: 5px 0;
    color: #b46d12;
  }
  .content-titulo h3 {
    font-size: 1.7rem;
    margin: 5px 0;
  }
}
