/*=======================================
    FONTS IMPORT
==================================================*/
@font-face {
  font-family: "Lato";
  src: url("../font/Lato/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*=======================================
    GENERAL STYLES
==================================================*/
:root {
  /* colores guardados
        boxes{
            rgb(82, 190, 128)
        }
    */
  --color-titulo: rgb(0, 152, 153);
  --color-titulo-white: rgb(253, 253, 253);
  --color-titulo-black: rgb(41, 41, 41);
  --background-principal: rgb(0, 152, 153);
  --background-secundario: #007575;
  --background-white: rgb(254, 254, 254);
  --background-boxes: rgb(242, 242, 242);
  --color-hover: rgb(90, 90, 90);
}
html,
body,
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", Arial, sans-serif !important;
  font-size: 1em;
  /*overflow-x: hidden;*/
  scroll-behavior: smooth !important;
  box-sizing: border-box !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Lato", Arial, sans-serif !important;
}
/*=======================================
    HEADER STYLES
==================================================*/
.header {
  background-color: var(--background-principal);
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: relative;
}
.header .content-header {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .content-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-logo p {
  color: var(--color-titulo-white);
  font-weight: bold;
  font-size: 0.9rem;
}
.header .content-logo img {
  height: 100px;
  padding: 17px;
}
.linea-vertical {
  border-left: 3px solid #fff; /* Grosor, estilo y color de la línea */
  height: 60px; /* Altura de la línea */
  margin: 0 10px; /* Espacio alrededor */
}
/** Redes sociales */
.header .social {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  position: absolute;
  bottom: 0;
  right: 100px;
  margin-bottom: 10px;
}
.header .social .icon {
  padding: 7px;
  border-radius: 5%;
  color: var(--color-titulo-white);
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #d6d3d1;
}
.header .social .icon i {
  font-size: 1.2em;
}
/*=======================================
    NAV STYLES
==================================================*/
.nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--background-white);
  width: 100%;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #d6d3d1;
}
.nav .content-nav {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .content-logo2 {
  display: none;
}
.content-nav .abrir-nav,
.cerrar-nav {
  display: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.navbar .social2 {
  display: none;
}
.navbar .item-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1.2em;
}
.navbar .item-nav .nav-link {
  list-style: none;
  height: 100%;
}
.navbar .item-nav .nav-link a {
  height: 100%;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 0.8em;
  color: var(--color-hover);
  padding: 0 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.navbar .item-nav .nav-link a:hover {
  background-color: var(--background-principal);
  color: var(--color-titulo-white) !important;
}
.active {
  background-color: var(--background-principal);
  color: var(--color-titulo-white) !important;
}
/*=======================================
    MAIN STYLES
==================================================*/
.main {
  width: 100%; /* Una sola columna al 100% */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center !important;
  align-items: center !important;
  margin: auto;
  color: var(--color-hover);
  box-sizing: border-box;
}
/*=======================================
    FOOTER STYLES
==================================================*/
.footer {
  width: 100%;
  background-color: #004747;
  /*min-height: 120px;*/
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .logo-footer {
  height: 65px;
}
.footer .logo-footer img {
  height: 65px;
}
.menu-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}
.menu-footer li {
  list-style: none;
}
.menu-footer li a {
  color: var(--color-titulo-white);
  font-size: 1.2rem;
  display: inline-block;
  text-decoration: none;
  margin: 5px 10px;
  opacity: 0.5;
  transition: 0.3s;
}
.menu-footer li a:hover {
  opacity: 1;
}
.footer .text-footer {
  width: 100%;
  padding: 20px;
  color: var(--color-titulo-white);
  text-align: center;
  font-size: 1.2rem;
  margin-top: 10px;
  background-color: #001a1a;
}
/*=======================================
    MEDIAQUERIS STYLES
==================================================*/
@media screen and (max-width: 720px) {
  /**------- tablet y movil -------nav*/
  #header {
    display: none;
  }

  .nav .content-nav {
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: space-between;
  }
  /*.linea-vertical2 {*/
  /*border-left: 3px solid var(--color-hover);  Grosor, estilo y color de la línea */
  /*height: 44px;  Altura de la línea */
  /*margin: 0 10px;  Espacio alrededor */
  /*}*/
  .content-nav .content-logo2 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-nav .content-logo2 p {
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--background-principal);
  }

  .content-nav .content-logo2 img {
    height: 100%;
    padding: 10px;
  }
  .content-nav .abrir-nav {
    display: block;
    position: relative;
    right: 0;
    border: none;
    font-size: 1.7em;
    background-color: #fff;
  }
  .nav .navbar {
    opacity: 0;
    visibility: hidden;
    display: block;
    align-items: end;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    height: 100dvh;
    background-color: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition: opacity 0.5s ease-in-out;
  }
  .navbar .social2 {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
  }
  .social2 .icon {
    padding: 7px;
    border-radius: 5%;
    color: var(--color-titulo-white);
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #d6d3d1;
  }
  .navbar .item-nav {
    height: auto;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    gap: 2em;
  }
  .navbar .item-nav .nav-link a {
    padding: 10px;
    color: var(--color-titulo-white);
  }
  .navbar .cerrar-nav {
    display: block;
    border: none;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #1c1c1c;
    color: var(--color-titulo-white);
  }

  .navbar.visible {
    opacity: 1;
    visibility: visible;
  }
  /**------- tablet y movil main -------*/
  .main {
    width: 100%;
  }
  /**------- tablet y movil footer -------*/
  .menu-footer li a {
    font-size: 2.5vw;
  }
  .footer .text-footer {
    font-size: 2.3vw;
  }
}
